{% extends 'base.html' %}

{% block titile %}
岗位详情页 | 学生在线
{% endblock %}

{% load staticfiles %}
<!--crumbs start-->
{% block custom_bread %}
    <section>
	<div class="wp">
		<div class="crumbs">
			<ul>
				<li><a href="{% url 'index' %}">首页</a>></li>
                <li><a href="{% url 'job:job_list' %}">工作岗位</a>></li>
				<li>{{ job.name }}</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
    <section>
	<div class="wp">
		<div class="groupPurchase_detail detail">
			<div class="toppro">
				<div class="left">
					<div class="picbox">
						<div class="tb-booth tb-pic">
							<img width="440" height="445" src="{{ MEDIA_URL }}{{ job.image }}" class="jqzoom" />
						</div>

					</div>
					<div class="des">
						<h1 title="勤工助学岗位">{{ job.name }}</h1>
						<span class="key">{{ job.desc }}</span>
						<div class="prize">
							<!--<span class="fl">难度：<i class="key">{# {{ job.get_degree_display }} #}</i></span>-->
							<span class="fr">参加人数：{{ job.people }}</span>
						</div>
						<ul class="parameter">
							<li><span class="pram word3">上岗时间：</span><span>{{ job.do_time }}</span></li>
                            <li><span class="pram word3">工作薪资：</span><span>{{ job.price }}</span></li>
                            <!--<li><span class="pram word3">课程类别：</span><span title="">{# {{ job.category }} #}</span></li>
							<li class="piclist"><span class="pram word4">学习用户：</span>-->
                                    {% for user_job in job.userjob_set.get_queryset|slice:":5"%}
                                                                            <span class="pic"><img width="40" height="40" src="{{ MEDIA_URL }}{{ user_job.user.image }}"/></span>
                                {% endfor %}
						</ul>
						<div class="btns">
							<!--<div class="btn colectgroupbtn"  id="jsLeftBtn">
                                  {#  {% if has_fav_job %}已收藏{% else %}收藏{% endif %}  #}
                            </div>-->
                                <div class="buy btn" onclick="window.location.href= '{% url 'job:job_info' job.id %}';return false"><a style="color: white" href="{% url 'job:job_info' job.id %}">报名参加</a></div>
						</div>
					</div>
                    <div class="group-share-box">
                        <div class="bdsharebuttonbox"
                             data-text="勤工助学工作"
                             data-desc="我在#易班#发现了"
                             data-comment=""
                             data-url="/group/groupdetail/15/">
                            <span class="fl">分享到：</span>
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                            <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                            <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a>
                            <a title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a>
                            <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                        </div>
                    </div>
				</div>

			</div>
		</div>
	</div>
</section>
    <section>
	<div class="wp">
		<div class="list groupPurchase_detail_pro">
			<div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active">岗位详情</li>
					</ul>
				</div>
				<div class="tab_cont tab_cont1">
                    {% autoescape off %}
{{ job.detail }}
                    {% endautoescape %}
				</div>
				<div class="tab_cont tab_cont2" >
					<div class="comment">
						<div class="comenlist">

	                    </div>
					</div>
				</div>
			</div>
			</div>
		</div>
</section>
{% endblock %}

{% block custom_js %}
    <script>
function bank(current_elem, job_id) {
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url "org:add_job" %}",
        data:{
            'job':job_id
            },
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="{% url 'login' %}?next={{ request.path }}";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });

}
    </script>
{% endblock %}
